---
const { blogs } = Astro.props;
import { Button } from "@/shadcn/components/ui/button";
import { Card, CardContent, CardFooter } from "@/shadcn/components/ui/card";
import { Image } from "astro:assets";
import { format } from "date-fns";
import { CalendarFold, FileText } from "lucide-react";
---

<ul class="grid gap-6 grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
        blogs.map((post: any) => (
            <Card
                className="group rounded-lg shadow overflow-hidden dark:bg-slate-900 hover:shadow-md"
                aria-labelledby={`blog-title-${post.slug}`}
            >
                <a
                    href={`/blogs/${post.slug}/`}
                    aria-label={`Read ${post.data.title}`}
                >
                    <Image
                        src={post.data.thumbnail}
                        alt={post.data.title}
                        format="webp"
                        quality="mid"
                        class="mb-4 w-full h-56 rounded aspect-thumbnail object-cover group-hover:scale-105 transition-transform duration-300"
                    />
                </a>
                <CardContent>
                    <h2
                        id={`blog-title-${post.slug}`}
                        class="font-medium leading-snug"
                    >
                        {post.data.title}
                    </h2>
                    <p class="inline-flex items-center gap-1 text-sm">
                        <CalendarFold className="h-4 w-4" aria-hidden="true" />
                        {format(post.data.date, "MMMM d, yyyy")}
                    </p>
                </CardContent>

                <CardFooter>
                    <a
                        href={`/blogs/${post.slug}/`}
                        title={`Read more about ${post.data.title}`}
                        aria-label={`Read the full blog post: ${post.data.title}`}
                    >
                        <Button
                            size="sm"
                            variant="secondary"
                            className="flex items-center gap-2"
                        >
                            <FileText className="h-4 w-4" aria-hidden="true" />
                            <span>Read More</span>
                        </Button>
                    </a>
                </CardFooter>
            </Card>
        ))
    }
</ul>
