---
const { portfolios } = Astro.props;
import { Button } from "@/shadcn/components/ui/button";
import { Card, CardContent, CardFooter } from "@/shadcn/components/ui/card";
import { Image } from "astro:assets";
import { ExternalLink, FileText } from "lucide-react";
---

<ul class="grid gap-6 grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
        portfolios.map((portfolio: any) => (
            <Card
                className="group rounded-lg shadow overflow-hidden dark:bg-slate-900 hover:shadow-md"
                aria-labelledby={`portfolio-title-${portfolio.slug}`}
            >
                <a
                    href={`${portfolio.data.live}/`}
                    target="_blank"
                    rel="noopener noreferrer"
                    title={`Live ${portfolio.data.title}`}
                    aria-label={`Visit live site for ${portfolio.data.title}`}
                >
                    <Image
                        src={portfolio.data.thumbnail}
                        alt={portfolio.data.title}
                        inferSize={true}
                        format="webp"
                        quality="mid"
                        class={`"mb-4 w-full h-56 rounded aspect-thumbnail object-cover object-top hover:object-bottom linear duration-[${portfolio.data.transitionDuration}] transition-all cursor-pointer "`}
                        style={{
                            transitionDuration:
                                portfolio.data.transitionDuration,
                        }}
                        aria-describedby={`portfolio-title-${portfolio.slug}`}
                    />
                </a>
                <CardContent>
                    <h2 class="font-medium capitalize text-lg mt-3">
                        {portfolio.data.title}
                    </h2>
                    <p class="capitalize text-sm text-gray-700 dark:text-gray-300">
                        {portfolio.data.category}
                    </p>
                </CardContent>

                <CardFooter className="justify-between">
                    <a
                        href={`/portfolios/${portfolio.slug}/`}
                        title={`Read ${portfolio.data.title}`}
                        aria-label={`View details of ${portfolio.data.title}`}
                    >
                        <Button
                            size="sm"
                            variant="secondary"
                            aria-label={`Read details of ${portfolio.data.title}`}
                        >
                            <FileText className="h-4 w-4" aria-hidden="true" />
                            <span>View Details</span>
                        </Button>
                    </a>
                </CardFooter>
            </Card>
        ))
    }
</ul>
