---
import { Template } from "@/app/Template";
import "@/styles/globals.css";
import { ClientRouter } from "astro:transitions";
const { title, description, keywords } = Astro.props;

const defaultSidebarOpen = Astro.cookies.get("sidebar:state")?.value === "true";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content={description} />
		<meta name="keywords" content={keywords} />
		<meta name="author" content="al abed jafry" />
		<meta name="robots" content="index, follow" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="/favicon-16x16.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="/favicon-32x32.png"
		/>
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
		<link
			rel="icon"
			type="image/png"
			sizes="192x192"
			href="/android-chrome-192x192.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="512x512"
			href="/android-chrome-512x512.png"
		/>
		<meta name="generator" content={Astro.generator} />
		<title>{title} | Al Abed Jafry - Full Stack Web Developer</title>

		<!-- Open Graph Meta Tags -->
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:type" content="website" />
		<meta property="og:url" content={Astro.site} />
		<meta property="og:image" content="/thumbnil.png" />

		<!-- Twitter Card Meta Tags -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={description} />
		<meta name="twitter:image" content="/thumbnil.png" />

		<ClientRouter />
	</head>
	<body>
		<Template client:only="react" defaultSidebarOpen={defaultSidebarOpen}>
			<slot />
		</Template>
	</body>
</html>
